@charset 'utf-8';

* {
    margin: 0;
    padding: 0;
}

ul,
li,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}


.ko {
    font-family: 'Noto Sans KR', sans-serif;
}

.eng {
    font-family: 'PT Serif', serif;
}



header {
    width: 90%;
    margin: 0 auto;
    padding: 40px 0;
}

header h1 {
    width: 30%;
    float: left;
    /*background-color: yellow;*/
    text-align: center;
}

header h1 img {
    width: 60%;
    vertical-align: middle;
}

header nav {
    width: 50%;
    float: left;
    text-align: center;
    /*background-color: indianred;*/
}

header nav ul li {
    width: 20%;
    display: inline-block;
    font-size: 20px;
    padding-top: 2%;
}

header .sns {
    width: 20%;
    float: right;
    text-align: right;
    /*background-color: antiquewhite;*/

}

header .sns > a > img {
    width: 46px;
}

header .sns > a:first-child > img {
    padding-right: 10px;
}

header nav ul li a {
    color: black;
    padding-bottom: 6px;
    transition: all .5s;
}

header nav ul li a:hover {
    color: #00c5b4;
    border-bottom: 3px solid #00c5b4;
}

section {
    width: 80%;
    margin: 0 auto;
}

/*intro******************************/

.intro {
    width: 100%;
    height: 550px;
    /*background-color: yellow;*/
    background: url(images/rb_logo.png) no-repeat right bottom/550px;
    position: relative;
}

.intro .left-box {
    width: 34%;
    position: absolute;
    top: 34%;
}

.intro .left-box .des-en {
    color: darkgray;
    font-size: 1.4em;
    line-height: 1.4;
    margin-bottom: 30px;
}

.intro .left-box .des-ko {
    font-size: 1.2em;
}

.intro .btn {
    font-size: 1.2em;
    border: 2px solid #e64461;
    border-radius: 6px;
    padding: 14px;
    color: #e64461;
    position: absolute;
    bottom: 14%;
}

.intro .btn:hover {
    background-color: #e64461;
    color: white;
    font-weight: bold;
}

/*--------works-------------------------*/


.works {
    margin-top: 80px;
}

.works .img-box {
    width: 23%;
    /*padding: 1%;*/
    margin: 1%;
    float: left;
    overflow: hidden;
}

.works .img-box a {
    display: block;
}

.works .img-box img {
    width: 100%;
    display: block;
    transition: all .5s;
}

.works .img-box img:hover {
    transform: scale(1.5);
}

/*--------about-------------------------*/


.about {
    margin-top: 80px;
    background-color: yellow;
    height: 460px;
    background: url(images/people_01-1.png) no-repeat bottom/contain;
    font-family: 'PT Serif', serif;
    position: relative;
}

.about h2 {
    text-align: center;
    font-size: 2em;
    font-weight: 100;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.about p {
    width: 54%;
    font-size: 1.2em;
    margin: 0 auto;
    text-align: center;
}

.about .btn-more {
    font-size: 1.2em;
    padding: 14px;
    border: 2px solid #00c5b4;
    color: #00c5b4;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
}

.about .btn-more:hover {
    background-color: #00c5b4;
    color: white;
    font-weight: bold;
}

/*----news--------------------------*/

.news {
    margin-top: 80px;
}

.news h2 {
    font-size: 2em;
    font-family: 'PT Serif', serif;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.news p {
    font-size: 0.9em;
    margin-bottom: 10px;
}

.news .box {
    width: 32%;
    margin-right: 1%;
    float: left;
    /*outline: 1px solid black;*/
}

.news .box img {
    width: 100%;
}

.news .box .title a {
    color: #333;
    margin-top: 40px;
    height: 40px;
}

.news .box .title a:hover {
    color: darkseagreen;
    text-decoration: underline;
}

.news .box .date {
    font-size: 0.9em;
    color: darkgray;
}

.news .box .date:hover {
    color:#333;
    font-weight: bold;
}

/*--------contact-------------------------*/
.contact {
    margin-top: 80px;
    width: 100%;
    height: 500px;
    background: url(images/rb-03.jpg) no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
}

.contact h2 {
    color: white;
    font-size: 3em;
    padding-top: 80px;
}

.contact p {
    font-size: 1.2em;
    padding-top: 30px;
    color: white;
}


.contact .btn-more2 {
    color: #fff;
    border: 2px solid #fff;
    font-size: 1.2em;
    padding: 14px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
}

.contact .btn-more2:hover {
    background-color: black;
    border: 2px solid #000;
    font-weight: bold;
}

footer {
    width: 80%;
    margin: 0 auto;
    position: relative;
}


footer .footer-box {
    width: 33.3%;
    float: left;
    margin: 60px 0;
}

footer .footer-box h2 {
    font-size: 1em;
    margin-bottom: 20px;
}

footer .footer-box p {
    font-size: 0.9em;
    color: darkgray;
}

footer .top {
    clear: both;
    position: absolute;
    right: 0;
    top: 90px;
}




















